mysql:
  db_connect: mysql
  db_host: 127.0.0.1
  db_port: 3306
  db_database: root
  db_username: root
  db_password: root
  db_prefix: r_
redis:
  redis_host: 127.0.0.1
  redis_port: 6379
  redis_database: 3
  redis_username: root
  redis_password: root
alipay:
    app_id: 1111111
    ali_publice_key: 2222222
    private_key: 33333
    notify_url: 444444
    return_url: 555555
    is_production: false